<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>DemoApp</title>
=======
  <title>FirstApp</title>
>>>>>>> 7d723012c519ab1225109f09f621ee9020c3545e
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
